@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument";
  src: url("./assets/fonts/Monument.otf");
}

* {
  font-size: 14px;
  font-weight: 450;
  letter-spacing: -0.02em;
  sborder: 1px solid red;
}
